@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
/* ============== Google Fonts ==============  */
html{
    scroll-behavior: smooth;
}
body {
    background-color: #f2f2f2;
    font-family: "Open Sans", "Helvetica Neue";
}

/* ========== header  ========= */

header {
    background-color: #0c262a;
}

.navbar {
    overflow: hidden;
    background-color: #0c262a;
    display: grid;
    grid-template-columns: 1fr 80px 80px 140px 80px;
    align-items: center;
    width: 67%;
    margin: 0 auto;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: #fff;
}

.navbar .icon {
    display: none;
    transition: 0.5s;
}

.title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 20px;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
}


/* ========== SECTION 1 ========= */

.container-1 {
    transition: 0.5s;
    padding: 32px;
    border: 2px solid #cacaca;
    border-radius: 10px;
    background-color: #fff;
    margin: 32px auto;
    width: 65%;
    height: 280px;
}

div .content-first-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
}
div .content-second-items {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    display: grid;
    gap: 20px;
    width: 80%;
}

div .item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

div .item-1{
    width: 25%;
}

div .item-2{
    width: 43%;
}
div 
.item-1 input,
.item-2 input,
.item-3 input, 
.item-4 input, 
.item-5 input{
    border-radius: 20px;
    border: 1px solid gray;
    padding: 8px 16px;
}
div 
.item-1 label,
.item-2 label, 
.item-3 label, 
.item-4 label, 
.item-5 label, 
.item-6 label{
    padding-left: 15px;
}

div .item-6 select{
    width: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 8px 16px;
    -webkit-appearance: none;
    background: transparent;
    background-image: url("../assets/images/arrow.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    color: #797979;
    cursor: pointer;
}

/* ========== SECTION 2  ========= */

.container-2 {
    transition: 0.5s;
    padding: 32px;
    border: 2px solid #cacaca;
    border-radius: 10px;
    background-color: #fff;
    margin: 32px auto;
    width: 65%;
    height: 10%;
}
.second-section-items {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    gap: 20px;
}

.second-section-items div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-section-items div label{
    padding-left: 15px;
    font-weight: bold;
}
.second-section-items div input{
    border-radius: 20px;
    border: 1px solid gray;
    padding: 8px 16px;
}

.second-section-items div select {
    width: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 8px 16px;
    -webkit-appearance: none;
    background: transparent;
    background-image: url("../assets/images/arrow.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    color: #797979;
    cursor: pointer;
}

.arrow-2 {
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    -webkit-tap-highlight-color: transparent;
}
/* ========== SECTION 3  ========= */

.container-3 {
    padding: 32px 32px 15px;
    border: 2px solid #cacaca;
    border-radius: 10px;
    background-color: #fff;
    margin: 32px auto;
    width: 65%;
    height: 10%;
}

.image__check {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0;
}

.image__check .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 15px;
}

/* ========== SECTION 4  ========= */

.container-4 {
    padding: 32px;
    border: 2px solid #cacaca;
    border-radius: 10px;
    background-color: #fff;
    margin: 32px auto;
    width: 65%;
    height: 10%;
}

.container__table {
    width: 100%;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    margin: 20px auto;
}

table {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #ffffff;
    padding: 0.35em;
}

table th,
table td {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

table th {
    color: #fff;
    font-size: 13px;
}

.highlight {
    background-color: #fff2e6 !important;
}

.loja-td {
    color: #d66902;
}

/* ============ SECTION 5  ============ */

.container-5 {
    padding: 32px;
    border: 2px solid #cacaca;
    border-radius: 10px;
    background-color: #fff;
    margin: 16px auto 15px;
    width: 65%;
    height: 280px;
}

.content-select-image {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.content-select-image .content-select {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-select-image label {
    font-weight: bold;
}

.insert-image::-webkit-file-upload-button {
    padding: 7px 10px;
    border: 1px solid #646464;
    border-radius: 20px;
    color: #c4c4c4;
    font-size: 14px;
    background-color: #efefef;
    cursor: pointer;
}

/* ========= section button ========= */

.button__message {
    height: 50px;
    width: 50px;
    background-color: #ff7a00;
    position: fixed;
    bottom: 15px;
    right: 13%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 2px 2px 5px #646464;
}
.button__form {
    background-image: linear-gradient(to right, #ff7c00, #ffa100);
    padding: 12px 45px;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 17.5%;
    margin-bottom: 15px;
}
.button-add {
    width: 100%;
}
/* =========== Responsive Mode =========== */


/* NAVBAR */
@media screen and (min-width: 200px) and (max-width: 800px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
        font-size: 25px;
        font-size: 30px;
        margin: 5px 10px;
        -webkit-tap-highlight-color: transparent;
    }
    .navbar {
        overflow: hidden;
        background-color: #0c262a;
        display: block;
        width: 100%;
    }
}
@media screen and (min-width: 200px) and (max-width: 1200px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        transition: 0.5s;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* TABLE */
@media screen and (min-width: 200px) and (max-width: 900px) {
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: 0.625em;
    }
    table td {
        display: block;
        font-size: 15px;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .container__table {
        margin-left: 0;
        width: 100%;
    }
}

/* responsividade container-1, container-2 */
@media screen and (max-width:1879px){
    div .content-second-items{
        width: 83%;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .container-1, .container-2, .container-3 ,.container-4, .container-5{
        width: 95%;
    }
    div .item-3 input, .item-4 input, .item-5 input, .item-6 select{
        width: 100%;
    }
    div .content-second-items{
        width: 100%;
    }
    .navbar{
        width: 95%;
    }
    .second-section-items {
        grid-template-columns: repeat(3, 1fr);
    }
    .image__check{
        grid-template-columns: repeat(3, 150px);
        width: 100%;
        justify-content: flex-start;
    }
    table th {
        padding: 5px 0;
        font-size: 11px;
    }
    .button__message{
        right: 5%;
    }
    .button__form{
        margin-left: 3%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .container-1, .container-2, .container-3 ,.container-4, .container-5{
        width: 95%;
        height: 10%;
    }
    div .content-second-items{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    div .item-1, div .item-2 {
        width: 48%;
    }
    .second-section-items{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .navbar{
        width: 95%;
    }
    .image__check{
        grid-template-columns: repeat(3, 150px);
        width: 100%;
        justify-content: flex-start;
    }
    table td::before{
        font-size: 14px;
    }
    .button__message{
        right: 5%;
    }
    .button__form{
        margin-left: 3%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .container-1, .container-2, .container-3 ,.container-4, .container-5{
        width: 95%;
        height: 10%;
    }
    div .content-second-items {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }
    div .item-1, div .item-2{
        width: 100%;
        margin-top: 10px;
    } 
    .second-section-items{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }
    .container-2{
        width: 95%;
    }
    .image__check{
        grid-template-columns: repeat(2, 150px);
        width: 100%;
        justify-content: space-between;
    }
    .button__message{
        right: 5%;
    }
    .button__form{
        margin-left: 3%;
    }
    .content-select-image{
        justify-content: center;
    }
}

@media screen and (min-width:320px) and (max-width: 424px){
    div .content-second-items {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }
    div .item-1, div .item-2{
        width: 100%;
        margin-top: 10px;
    } 
    .second-section-items{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }
    .container-1, .container-2, .container-3 ,.container-4, .container-5{
        width: 95%;
        height: 10%;
    }
    .image__check{
        grid-template-columns: repeat(1, 150px);
        width: 100%;
        justify-content: center;
    }
    .content-select-image .content-select{
        width: 100%;
    }
    .content-select-image{
        justify-content: center;
    }
    .button__message{
        right: 5%;
    }
    .button__form{
        margin-left: 5%;
    }
}

@media screen and (min-width: 280px) and (max-width:319px){
    .title{
        font-size: 20px;
    }
    div .content-second-items {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }
    div .item-1, div .item-2{
        width: 100%;
        margin-top: 10px;
    } 
    .second-section-items{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }
    .container-1, .container-2, .container-3 ,.container-4, .container-5{
        width: 95%;
        height: 10%;
        padding: 16px;
    }
    .image__check{
        grid-template-columns: repeat(1, 150px);
        width: 100%;
        justify-content: center;
    }
    .content-select-image .content-select{
        width: 100%;
    }
   .content-select-image{            
        justify-content: center;
    }
    .button__message{
        right: 5%;
        height: 40px;
        width: 40px;
    }
    .button__form{
        margin-left: 3%;
    }
}